 @font-face {
   font-family: 'brandon-gothic';
   src: url('../fonts/Brandon_bld.otf') format('opentype');
 }

 * {
   margin: 0;
   padding: 0;
 }

 body {
   background-color: #1E6CFB;
 }

 main {
   background-color: #ffffff;
   width: 100vw;
   overflow: hidden;
 }

 header {
   height: 700px;
 }

 .gnyognyo {
   position: absolute;
   z-index: 0;
   top: -20%;
   left: 60%;
 }

 #svgMask {
   clip-path: url(#clipSvg);
   -webkit-clip-path: url(#clipSvg);
 }

 header {
   width: 80%;
   margin: auto;
   font-family: brandon-gothic;
   position: relative;
 }

 #clipSvg {
   width: 20%;
 }

 #slide {
   position: relative;
 }

 #svgMask img {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   transform: translate(-25%, 0%);
 }

 .logo {
   padding-top: 18px;
 }

 .headerTitle {
   position: absolute;
   z-index: 1;
 }

 header h1 {
   margin-top: 48px;
   font-size: 124px;
   font-weight: 100;
   color: #1E6CFB;
   line-height: 155px;
 }

 .profile {
   margin-top: 54px;
   overflow: hidden;
 }

 .subTitle {
   font-size: 18px;
   color: #BCC0C6;
 }

 .name {
   font-size: 24px;
   color: #1E6CFB;
   letter-spacing: 3.3px;
 }

 .info {
   font-size: 16px;
   color: #828282;
   letter-spacing: 2px;
 }

 .leftBox {
   margin-right: 24px;
   float: left;
 }

 .rightBox {
   float: left;
 }

 #wrapper {
   position: relative;
   max-width: 1220px;
   margin: 0 auto;
   /*全体の中央寄せ*/
 }

 #container {
   width: 100%;
   margin: 0 auto;
   /*中央寄せ*/
   position: relative;
 }

 .item {
   margin: 10px;
   width: 300px;
   border-radius: 4px;
   box-shadow: 0px 0px 4px #00000052;
 }

 .item_img {
   width: 300px;
   height: 200px;
   position: relative;
   overflow: hidden;
 }

 .item.x2 {
   width: 300px;
 }

 .item_img img {
   width: 120%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .text {
   font-family: brandon-gothic;
   color: #1E6CFB;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
 }

 .text h2 {
   font-size: 24px;
   margin: 0 8px 4px 8px;
 }

 .text p {
   font-size: 18px;
 }

 @media screen and (min-width: 375px) and (max-width: 768px){

   main {
     max-width: 768px;
   }

   .gnyognyo {
     position: absolute;
     z-index: 0;
     top: -20%;
     left: 40%;
   }

   header {
     max-width: 700px;
   }

   header h1 {
     font-size: 124px;
     line-height: 155px;
   }

   .profile img {
     width: 90px;
   }

   .subTitle {
     font-size: 16px;
   }

   .subTitle {
     font-size: 18px;
     color: #BCC0C6;
   }

   .name {
     font-size: 22px;
   }

   .info {
     font-size: 14px;
   }

 }

 @media screen and (max-width: 375px) {

   main {
     max-width: 375px;
   }

   .logo {
     width: 44px;
   }

   .gnyognyo {
     position: absolute;
     z-index: 0;
     top: -20%;
     left: 40%;
   }

   #svgMask img {
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     transform: translate(-35%, 0%);
   }

   #clip {
     width: 250px;
   }

   header {
     max-width: 340px;
     height: 610px;
   }

   header h1 {
     font-size: 64px;
     line-height: 75px;
   }

   .profile {
     margin-top: 44px;
   }

   .profile img {
     width: 60px;
   }

   .rightBox {
     clear: left;
   }

   .subTitle {
     font-size: 14px;
   }

   .subTitle {
     font-size: 16px;
     color: #BCC0C6;
   }

   .name {
     font-size: 20px;
   }

   .info {
     font-size: 12px;
   }


 }